<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Project</string>
			<key>UIApplicationShortcutItemType</key>
			<string>projectmanager://newProject</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>rectangle.stack.badge.plus</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.lefthandedapps.projectmanager.newProject</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
